.App {
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
  }

.container {
  background-position: top;
  background-image: url('https://close-encounter.s3.ap-northeast-1.amazonaws.com/background.png');
  background-size: cover;
  background-size: 750px auto;
  background-repeat: no-repeat;
}

.container h1 {
  width: 100%;
  color: #F98ED8;
  font-size: 40px;
  font-weight: 900;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
  padding-top: 250px;
  -webkit-text-stroke: 1px #3F3F3F;
  font-family: 'American Typewriter';   
  margin: 0px 0px 30px 0px;                              
}

.container h2 {
  width: 100%;
  color: #F98ED8;
  font-size: 30px;
  font-weight: 900;
  -webkit-text-stroke: 1px #3F3F3F;
  font-family: 'American Typewriter';
  text-align: center;               
}

.container p {
  width: 100%;
  color: #F98ED8;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  -webkit-text-stroke: 1px #3F3F3F;
  font-family: 'American Typewriter';
}

.questionHeader {  
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.questionHeader h1 {
  color: #F98ED8;
  font-size: 30px;
  font-weight: 900;
  -webkit-text-stroke: 1px #3F3F3F;
  font-family: 'American Typewriter';    
  text-align: center;
}

.questionHeader h2 {
  color: #F98ED8;
  font-size: 20px;
  font-weight: 900;
  -webkit-text-stroke: 1px #3F3F3F;
  font-family: 'American Typewriter';    
  text-align: center;
}

.question {
  width: 100%;
  margin: auto;
  text-align: center;
}

.question p{
  font-size: 18px;
  text-align: center;
  margin: 5% 0%;
}

.question-enter {
  opacity: 0;
  transform: scale(0.9);
}

.question-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.question-exit {
  opacity: 1;
}

.question-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.explanation {
  width: 70%;
  /* position: absolute; */
  margin: 9% 15% 0% 15%;
}

.container button {
  margin: 5px;
}

.explanation p {
  color: black;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}

.share {
  color: black;
  text-align: center;
}

.startButton {
  width: 100%;
  /* position: absolute; */
  bottom: 10%;
  margin: 3% 0%;
}

.Button {
  font-size: 30px;
}

.body {
  background-color: rgb(14, 168, 14);
}

.advertisement {
  display: block;
  margin: auto;
}

body::before {
  content: "";
  width: 100%;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  background-color: rgb(14, 168, 14);

  opacity: 0.5;

  display: block;
}